.panel {
  border-image: url('./../../../images/Panel01_Transparent.png');
  border-image-width: 48px 48px;
  border-image-slice: 48 fill;
  padding-top: 10px;
  color: #b8fbff;

  // safari hack to align header with top
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      padding-top: 5px;
    }
  }

  .panel-content {
    @media (max-width: 575.98px) {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
  }

  .panel-header {
    border-image: url('./../../../images/ExtraSmallTitle02.png');
    border-image-width: auto;
    border-image-slice: 0 462 fill;
    margin-bottom: 20px;

    @media (max-width: 449.98px) {
      border-image: url('./../../../images/ExtraSmallTitle02.png');
      border-image-slice: 0 0 fill;
    }

    @media (min-width: 450px) {
      border-image: url('./../../../images/SmallTitle02.png');
      border-image-slice: 0 0 fill;
    }

    @media (min-width: 768px) {
      border-image: url('./../../../images/SmallTitle02.png');
      border-image-slice: 0 0 fill;
    }

    @media (min-width: 992px) {
      border-image: url('./../../../images/LargeTitle02.png');
      border-image-slice: 0 0 fill;
    }

    @media (min-width: 1200px) {
      border-image: url('./../../../images/LargeTitle02.png');
      border-image-slice: 0 0 fill;
    }

    .panel-header-text {
      font-size: 48px;
      padding-bottom: 4px;

      @media (max-width: 319px) {
        font-size: 24px;
        padding-top: 8px;
      }

      @media (min-width: 320px) {
        font-size: 28px;
        padding-top: 8px;
      }

      @media (min-width: 576px) {
        font-size: 32px;
        padding-top: 8px;
      }

      @media (min-width: 992px) {
        font-size: 48px;
        padding-top: 8px;
      }
    }
  }
}
