.about {
  .key-cards {
    margin-top: -40px;

    .key-card {
      margin-right: -20px;
      margin-left: -20px;
    }
  }

  h2 {
    @media (max-width: 575.98px) {
      font-size: 20px;
    }
  }

  .card {
    border: none;
    margin: 0 0.5rem;
    background-color: transparent;

    @media (max-width: 575.98px) {
      margin: 0 0.25rem;
    }

    .card-body {
      padding: 0.5rem 0rem;
      flex: none;
    }
  }

  .powerup-name {
    font-size: 18px;

    @media (max-width: 575.98px) {
      font-size: 12px;
    }

    @media (min-width: 576px) {
      font-size: 14px;
    }

    @media (min-width: 992px) {
      font-size: 18px;
    }
  }

  .powerup {
    @media (max-width: 575.98px) {
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 10px;
    }

    @media (min-width: 576px) {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    @media (min-width: 768px) {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 10px;
    }

    @media (min-width: 992px) {
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 10px;
    }
  }

  .powerup-ship {
    @media (max-width: 575.98px) {
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 10px;
    }

    @media (min-width: 576px) {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    @media (min-width: 768px) {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 0px;
      margin-bottom: 20px;
    }

    @media (min-width: 992px) {
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
