$background-color: #835a47;

.page {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  .banner {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px !important;
  }

  .background {
    background-color: #140000;
    // background-image: url('./../images/skyA.jpg');
    background-attachment: scroll;
    background-position: top;
    background-repeat: repeat;
    background-position-x: 50%;
    background-position-y: top;
    background-size: 500px;
  }

  // .logo {
  //   background-image: url('./../images/caves_of_mars_logo.png');
  //   background-attachment: scroll;
  //   background-position: top;
  //   background-repeat: no-repeat;
  //   background-position-x: 50%;
  //   background-position-y: 120px;
  //   background-size: 500px;
  //   min-height: 500px;

  //   @media (max-width: 575.98px) {
  //     background-position-x: 50%;
  //     background-position-y: 80px;
  //     background-size: 300px;
  //     min-height: 320px;
  //   }
  // }

  .content {
    padding-bottom: 50px;

    @media (max-width: 575.98px) {
      padding-top: 20px;
    }

    @media (min-width: 576px) {
      padding-top: 20px;
    }

    @media (min-width: 992px) {
      padding-top: 100px;
    }

    @media (min-width: 1200px) {
      padding-top: 110px;
    }
  }
}
