.presskit {
  h5 {
    text-decoration: underline;
  }
  p {
    font-size: 18px;
    text-align: left;
  }

  .social {
    h3 {
      text-decoration: none;
    }
    div {
      font-size: 22px;
    }
    span {
      font-size: 18px;
    }
  }
}
