$background-color: #835a47;

.home {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  .background {
    background-image: url('./../../images/caves_of_mars_logo_final.png'), url('./../../images/start-screen-tilemap.png'),
      url('./../../images/small_volcanosA.png'), url('./../../images/clouds.png'), url('./../../images/volcanoA.png'),
      url('./../../images/skyA.jpg');

    background-attachment: scroll;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-x, no-repeat, repeat;

    @media (max-width: 399px) {
      background-position-y: 25%, 100%, 90%, 80%, 110%, top;
      background-position-x: 50%, 50%, 50%, 50%, calc(50% + 100px), 50%;
      background-size: 70%, 1500px, 500px, 1000px, 630px, 500px;
      min-height: 470px;
    }

    @media (min-width: 400px) {
      background-position-y: 25%, 100%, 90%, 80%, 110%, top;
      background-position-x: 50%, 50%, 50%, 50%, calc(50% + 100px), 50%;
      background-size: 70%, 1500px, 600px, 1000px, 800px, 500px;
      min-height: 580px;
    }

    @media (min-width: 576px) {
      background-position-y: 25%, 120%, 80%, 80%, -200%, top;
      background-position-x: 50%, 50%, 50%, 50%, calc(50% + 150px), 50%;
      background-size: 70%, 2200px, 700px, 1000px, 1500px, 500px;
      min-height: 800px;
    }

    @media (min-width: 992px) {
      background-position-y: 35%, 130%, 90%, 90%, -250%, top;
      background-position-x: 50%, 50%, 50%, 50%, calc(50% + 150px), 50%;
      background-size: 700px, 2200px, 700px, 1000px, 1500px, 500px;
      min-height: 800px;
    }
  }

  .banner {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px !important;
    position: relative;
    text-align: center;
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .content {
    padding-top: 110px;
    padding-bottom: 20px;
    background-color: #140000;
    color: #aa7d62;

    @media (max-width: 575.98px) {
      padding-top: 20px;
    }

    @media (min-width: 576px) {
      padding-top: 20px;
    }

    @media (min-width: 992px) {
      padding-top: 100px;
    }

    @media (min-width: 1200px) {
      padding-top: 110px;
    }
  }
}

.blue-button {
  text-align: center;
  background-image: url('./../../images/buttons/Btn_Button02Turquoise_n.png');
  background-size: 208px 72px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 22px;
  width: 208px;
  height: 72px;
  margin: auto;
  padding: 1.3rem;
  text-decoration: none;
  background-color: transparent;
  border: none;

  @media (max-width: 319.98px) {
    padding: 0rem;
    font-size: 16px;
    background-size: 104px 36px;
    width: 104px;
    height: 36px;
  }

  @media (min-width: 320px) {
    padding: 0.75rem;
    font-size: 20px;
    background-size: 156px 54px;
    width: 156px;
    height: 54px;
  }

  @media (min-width: 576px) {
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 992px) {
  }

  :hover {
    background-color: transparent !important;
    border: none !important;
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.app-store-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .app-store-image {
    flex: calc(499 / 167);
    margin: 10px;
  }
  .google-play-image {
    flex: calc(564 / 168);
    margin: 10px;
  }
  .steam-image {
    // flex: calc(432 / 144);
    flex: 0.4;
    margin: 5px;
  }
}
