.youtube-play-wrapper {
  position: absolute;
  left: 0px;
  top: 40%;
  width: 100%;

  .youtube-play {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
  }

  .youtube-coming-soon {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
