$background-color: #835a47;

.navbar {
  font-size: 24px;
  &.fixed-top {
    position: absolute;
    top: 10px;
  }

  .nav-link {
    width: 200px;
    text-align: center;
    background-image: url('./../../images/buttons/Btn_Button02Red_n.png');
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10px;
    margin-top: 10px;

    @media (min-width: 992px) {
      font-size: 20px;
      width: 138px;
      background-size: 138px;
    }

    @media (min-width: 1200px) {
      font-size: 24px;
      width: 160px;
      background-size: 160px;
    }
  }
}
