@font-face {
  font-family: 'aldrichregular';
  src: url('../fonts/aldrich-regular-webfont.woff2') format('woff2'), url('../fonts/aldrich-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
