.thumbnail-button {
  border: none;
}

.gallery-figcaption
  .gallery-figcaption--thumbnails
  .caption-thumbnails
  ul.thumbnails-list
  li
  button.thumbnail-button
  div.picture
  img.thumbnail {
  opacity: 0.8;
}

.gallery-figcaption
  .gallery-figcaption--thumbnails
  .caption-thumbnails
  ul.thumbnails-list
  li
  button.thumbnail-button
  div.picture
  img.thumbnail {
  border-radius: 0;
}

.gallery-figcaption
  .gallery-figcaption--thumbnails
  .caption-thumbnails
  ul.thumbnails-list
  li
  button.thumbnail-button:hover
  div.picture
  img.thumbnail,
.gallery-figcaption
  .gallery-figcaption--thumbnails
  .caption-thumbnails
  ul.thumbnails-list
  li
  button.thumbnail-button.active
  div.picture
  img.thumbnail {
  border: goldenrod solid 1px;
}

.gallery .gallery-control {
  border: none;
}

.photo-gallary-grid {
  margin-left: -40px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 20px;

  @media (max-width: 575.98px) {
    grid-template-columns: 50% 50%;
    margin-left: -20px;
  }

  @media (min-width: 576px) {
    grid-template-columns: 33% 33% 33%;
    margin-left: -40px;
  }

  @media (min-width: 768px) {
    grid-template-columns: 33% 33% 33%;
    margin-left: -40px;
  }

  @media (min-width: 992px) {
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: -60px;
  }
}
