.social {
  text-align: center;
  svg {
    vertical-align: top;
  }

  @media (max-width: 575.98px) {
    h3 {
      font-size: 1.75rem;
    }
  }

  @media (min-width: 576px) {
    h3 {
      font-size: 1.25rem;
    }
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 1.5rem;
    }
  }
}
